body {
    background: rgb(33,4,4);
    background: linear-gradient(360deg, rgba(33,4,4,1) 0%, rgba(25,7,5,1) 17%, rgba(54,6,15,1) 47%, rgba(45,5,11,1) 58%, rgba(31,4,4,1) 82%, rgba(62,9,9,1) 100%);
    overflow-x: hidden;
    margin: 0;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
}

#scrollTopImage {
    height: 32px;
    width: 32px;
}

.header {
    width: 100%;
    display: flex;
    align-items: center;
    height: 100px;
    position: relative;
}

.custom-navbar {
    background-color: #53212B;
    width: 100%;
}

.left-section {
    display: flex;
    justify-content: flex-start;
}

.middle-section {
    display: flex;
    align-items: center;
}

.right-section {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 20px;
}

.custom-navbar .navbar-nav .nav-link {
    color: aliceblue;
    font-family: "Courier New", sans-serif;
}

.nav-item {
    padding: 0;
    border: none;
    border-radius: 10px;
}

.nav-item-custom {
    border: none;
}

#login-icon {
    width: 42px;
    height: 42px;
}

.nav-link {
    color: white;
    font-size: x-large;
    font-weight: bold;
}

.nav-vlr-icon {
    height: 4em;
    width: 4em;
    position: relative;
    top: 0.3em;
    left: 0.5em;
}

#game-info {
    max-width: 100%;
}

.p-form_valid {
    font-family: "VALORANT", sans-serif;
    font-size: larger;
}

#myForm {
    width: 50%;
}

#my-password-form {
    width: 25%;
}

#submit-email {
    height: 45px;
    width: 80px;
    font-family: "VALORANT", sans-serif;
    background-color: #53212B;
    color: white;
}

.form-label {
    font-family: "VALORANT", sans-serif;
    color: white;
}

.form-text {
    font-family: "Courier New", sans-serif;
    color: white;
}

#submit-password {
    height: 45px;
    width: 80px;
    font-family: "VALORANT", sans-serif;
    background-color: #53212B;
    color: white;
}

#closingTasksList {
    height: 50px;
    width: 145px;
    font-family: "VALORANT", sans-serif;
    background-color: #53212B;
    color: white;
}

* {
    box-sizing: border-box;
}

ol {
    margin: 0;
    padding: 0;
}

ol li {
    font-family: "Courier New", sans-serif;
    color: white;
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #BD3944;
    font-size: larger;
    transition: 0.2s;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

ol li:hover {
    background: #555555;
    border-color: #BD3944;
}

ol li.checked {
    color: #fff;
    text-decoration: line-through;
}

ol li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
    border: none;
}

.close:hover {
    background-color: #f44336;
    color: white;
}

.header-title {
    font-family: "VALORANT", sans-serif;
}

.goals-header {
    background-color: #53212B;
    font-family: "VALORANT", sans-serif;
    padding: 30px 40px;
    color: white;
    text-align: center;
}

.header:after {
    content: "";
    display: table;
    clear: both;
}

input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 65%;
    padding: 10px;
    float: left;
    font-size: 16px;
}

.addBtn {
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
}

.addBtn:hover {
    background-color: #bbb;
}

li {
    margin: 10px;
    cursor: pointer;
}

.dropdown-menu {
    background-color: #BD3944;
}

.link-img {
    height: 25px;
    width: 25px;
    margin-right: 7px;
}

p {
    font-family: "Courier New", sans-serif;
    font-size: large;
    color: white;
}

h1 {
    color: white;
    font-family: 'VALORANT', sans-serif;
    text-align: center;
}

h2 {
    color: #FFFBF5;
    font-family: "Courier New", sans-serif;
    font-size: 3em;
    text-align: center;
}


.heading {
    background-color: #53212B;
    max-width: 100%;
    margin-top: -5px;
}

.number {
    color: white;
    font-size: large;
}

.spinner-border {
    height: 24px;
    width: 24px;
}

.modal-title {
    font-family: "Times New Roman", sans-serif;
    color: black;
    font-weight: bold;
}

.riot_icon {
    width: 40px;
    height: 40px;
    position: relative;
    margin-right: 8px;
    bottom: 5px;
}

.vlr-image {
    max-width: 74%;
    height: auto;
    float: left;
}

.display-6 {
    font-family: "VALORANT", sans-serif;
    color: white;
}

.game-info-container {
    display: flex;
    align-items: center;
    border: 5px solid #BD3944;
}

.vlr-info {
    font-family: "Courier New", sans-serif;
    font-weight: bold;
    font-size: 1.3em;
    color: white;
    max-width: 100%;
}

#main-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 3em;
}

#play-button {
    height: 6em;
    width: 17em;
    font-family: "VALORANT", sans-serif;
    background-color: black;
    color: white;
}

#play-text {
    font-size: 2em;
}

#btn-email {
    font-family: "VALORANT", "sans-serif";
    height: 3em;
    width: 13em;
    background-color: #53212B;
    color: white;
}

.heading-3 {
    font-family: "VALORANT", sans-serif;
    font-size: xx-large;
    color: white;
}

#news {
    display: flex;
    justify-content: center;
}

.card {
    height: 450px;
    transition: all 0.3s;
    max-width: 100%;
    margin-left: 5%;
}

.card:hover {
    transform: scale(1.03);
}

.btn-danger {
    height: 3em;
    width: 8em;
    font-family: "VALORANT", sans-serif;
}

.card-link {
    color: white;
    text-decoration: none;
}

.btn-secondary {
    font-family: "VALORANT", sans-serif;
    font-weight: bold;
    border: 2px solid white;
    width: 10em;
    height: 2.5em;
}

.dropdown-item {
    font-family: "VALORANT", sans-serif;
    color: white;
}

.dropdown-item:hover {
    opacity: 0.2;
}

.socials-name {
    font-family: "VALORANT", sans-serif;
    color: white;
    font-size: 12px;
}

.btn-primary {
    background-color: black;
    color: white;
}

#agents {
    display: flex;
    justify-content: flex-start;
    margin-left: 30px;
}

.img-agent {
    height: 520px;
    width: 360px;
    max-width: 100%;
    transition: transform 0.2s;
}

.img-agent-class {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-agent:hover {
    transform: scale(1.02);
}

.display-5 {
    font-family: "VALORANT", sans-serif;
}

.carousel-caption {
    position: sticky;
}

.agent-biography {
    font-family: Courier New, arial, Georgia, sans-serif;
    color: white;
    font-size: large;
    padding-right: 5%;
    padding-left: 5%;
}

.agent-link {
    font-family: "VALORANT", sans-serif;
    background-color: #BD3944;
    color: white;
    font-size: xxx-large;
    font-weight: bold;
}

.custom {
    height: 3.5em;
    width: 8.5em;
    font-family: "VALORANT", sans-serif;
}

#quiz-container {
    text-align: center;
}

.p-question {
    font-family: VALORANT, sans-serif;
    color: white;
}

.answer {
    font-family: "Courier New", sans-serif;
    color: white;
    text-align: left;
    display: inline-block;
}

#submit-quiz-btn {
    background-color: #BD3944;
    font-family: VALORANT, sans-serif;
    color: white;
}

#result {
    font-family: VALORANT, sans-serif;
    color: white;
}

.p-timer {
    font-family: "VALORANT", sans-serif;
    font-size: x-large;
}

.countdown {
    font-family: "VALORANT", sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.time {
    padding: 10px;
    border: 1px solid #ccc;
    margin: 5px;
    border-radius: 5px;
}

.footer_panel {
    max-width: 100%;
    height: 18em;
    padding: 10px;
    background-color: #1c1c1c;
}

#feedbackForm {
    width: 50%;
}

#submit-feedback {
    height: 45px;
    width: 75px;
    background-color: darksalmon;
}

.age-limit {
    height: 120px;
    width: 120px;
}