body {
    background: rgb(33,4,4);
    background: linear-gradient(360deg, rgba(33,4,4,1) 0%, rgba(25,7,5,1) 17%, rgba(54,6,15,1) 47%, rgba(45,5,11,1) 58%, rgba(31,4,4,1) 82%, rgba(62,9,9,1) 100%);
    overflow-x: hidden;
}

.display-6 {
    font-family: "VALORANT", sans-serif;
    color: white;
    text-align: center;
}

#maps-list {
    display: flex;
    justify-content: center;
    max-width: 100%;
}

.list-group-item {
    background-color: #BD3944;
    color: white;
}

.game {
    max-width: 960px;
    margin: auto;
    font-family: "Courier New", sans-serif;
    color: white;
}

.game {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
}

.draggable-list {
    padding: 5px;
}

.li-game {
    font-family: "Courier New", sans-serif;
    list-style: none;
    padding: 10px;
    margin: 5px;
    background-color: #555555;
    border: 1px solid #b0bec5;
    color: white;
    cursor: grab;
}

.over {
    background-color: #53212B;
}


table {
    max-width: 640px;
    margin: auto auto 20px;
}

th, td {
    padding: 10px 10px;
}

td {
    border: 1px solid #90a4ae;
}

tr {
    background-color: #BD3944;
    color: white;
    font-family: "Courier New", sans-serif;
}

button {
    margin: auto;
    cursor: pointer;
    display: block;
    padding: 10px;
    font-family: VALORANT, sans-serif;
    font-size: 16px;
    border-radius: 4px;
    border: none;
    background-color: #53212B;
    color: #fff;
}

button:hover {
    background-color: #53212B;
}

#endMessage {
    display: none;
}

.map-link {
    display: flex;
    justify-content: center;
    align-items: inherit;
}

.map-list {
    font-family: "VALORANT", sans-serif;
    font-weight: bold;
    color: white;
    text-align: left;
}

.list-group {
    width: 20%;
}

.list-group-item {
    font-family: "Courier New", sans-serif;
    font-size: large;
    font-weight: bold;
}

.\.container {
    margin-left: 9%;
    width: 80%;
    text-align: center;
}

.card {
    height: 450px;
    width: 450px;
    transition: all 0.3s;
}

.card:hover {
    transform: scale(1.07);
}

.display-2 {
    font-family: "VALORANT", sans-serif;
    color: white;
}

#myModal {
    max-width: 45%;
    height: auto;
    position: fixed;
    left: 30%;
}

#modal-image {
    max-width: 100%; /* Adjust this value to make the image smaller or larger */
    height: auto;
}








